#avatar {
    border-radius: 25px;
    box-shadow: 8px 8px #4d453d;
    object-fit: cover;
    width: 90%;
}

#avatarbox {
    background-color: #c9d3dd93;
    padding-top: 25px;
    
}

#aboutMeBox {
    padding-top: 15px;
    

}
 
#aboutMeTitle {
    font-weight: bold;
    color: #006e8c;
    padding-top: 5px;
    font-size: larger;
}

#aboutMeBio {
    text-align: center;
    color: black;
    font-size: small;
}

.css-10413fk-MuiPaper-root  {
    color: #c9d3ddce;

}
